<footer class="footer">
        <div class="container text-right">
            <a href="http://www.piedpiper.com/" target="_blank"><i class="fa fa-pied-piper"></i></a>
            <a href="https://www.linkedin.com/in/joe-behrens-930b5989/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/joseph-behrens" target="_blank"><i class="fa fa-github"></i></a>
            <span class="text-muted copywrite">&copy; 2018 Joseph Behrens</span>
        </div>        
    </footer>
</body>