<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu Maker: Delete {{restaurant.name}}</title>
    {% include "shared/header.html" %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Delete {{restaurant.name}}</h1>
            <hr><br>
            <form action="#" method="POST">
                <div class="form-group text-center">
                    <h2>Are you SURE?</h2>
                    <h3>This cannot be undone!</h3>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-danger" value="DELETE!">
                    <a href="{{ url_for('showRestaurants') }}" class="btn btn-dark">Cancel</a>
                </div>
            </form>
        </div>
    </main>
    {% include "shared/footer.html" %}